body{
    background-color: black;
}

header{
    background-color: grey;
    text-align: center;
    
}

main{
    background-color: azure;
text-align: center;
padding: 50px;
}

footer{
    background-color: beige;
text-align: center;


}

.sacar{
    border-color: black;
    border-radius: 15px;
    padding-left: 15px;
}

.depositar{
    border-color: black;
    border-radius: 15px;

}